# Discord
DISCORD_BOT_TOKEN=MTUwNzY3OTM1NTgwMTk2NDY5NQ.G2Eg67.echMWA3Ir7iOWxkAJO39T0nyxR1Pvmewkv_bYI
DISCORD_CLIENT_ID=1507679355801964695
DISCORD_GUILD_ID=1507679812540563466

# HTTP server
PORT=3000
HOST=127.0.0.1

# Admin
ADMIN_PASSWORD=penis
SESSION_SECRET=8f7a9c2e1d4b6a0f_super_random_secret

# Database
DATABASE_URL=file:./data/discord-status.sqlite
